.wrapper8{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 5vw;
    margin-top: 20vw;
}
.box40{
    justify-self: center;
    font-size: 6vw;
    font-weight: 900;
    font-family: "Source Sans 3";
    margin-left: 3.5vw;
    letter-spacing: 0.04vw;
}
.vashgorod{
    margin-top: 5vw;
    margin-left: 35vw;
}
.box41{
    justify-self: center;
    margin-top: 7vw;
}
.arrowdown{
    margin-top: 4vw;
    width: 6vw;
    height: auto;
    margin-left: 3.8vw;
}
.box42{
    justify-self: center;
    font-size: 4vw;
    font-family: "Source Sans 3";
    font-weight: 300;
    font-style: italic;
    margin-top: 3.5vw;
}