.wrapper5{
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 5vw;
    margin-left: 12.5vw;
    margin-top: 5vw;
    line-height: 2.2vw;
    font-size: 1.25vw;
}
.box28{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}
.circle{
    width: 30vw;
    float: left;
    shape-outside: circle(50%);
    clip-path: circle(50%); 
    padding-right: 1vw;
}
.blizkie{
    color: #7BD7FF;
    line-height: 2.1vw;
    font-family: "Source Sans 3";
    font-weight: 400;
    letter-spacing: 0.01vw;
    font-size: 1.4vw;
}
.krugblizkie{
    margin-top: 1.2vw;
    line-height: 2.2vw;
    font-family: "Source Sans 3";
    font-weight: 300;
    letter-spacing: 0.01vw;
    font-size: 1.4vw;
}