.box43{
    margin-top: 10vw;
    margin-bottom: 1vw;
    hr{
        width: 100%;
    }
    p{
        margin: 2vw;
        margin-bottom: -0.2vw;
        margin-left: 5vw;
        font-weight: bolder;
        font-size: 1.6vw;
    }
    img{
        margin-left: 80vw;
        margin-top: -2vw;
    }
}